* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    flex-basis: 10vh;
    text-align: center;
    line-height: 10vh;
    background-color: #000;
    color: white;
    letter-spacing: 10px;
}

section {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

section>a {
    flex-basis: 21%;
}

section a img {
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

section a img:hover {
    transform: scale(1.05);
}

@media (max-width: 1280px) {
    section>a {
        flex-basis: 50%;
        padding: 50px;
    }
}

@media (max-width: 1024px) {
    section>a {
        flex-basis: 50%;
        padding: 30px;
    }
}

@media (max-width: 640px) {
    section>a {
        flex-basis: 50%;
        padding: 15px;
    }
}

@media (max-width: 640px) {
    section>a {
        flex-basis: 100%;
        padding: 15px;
    }
}